<!-- Views/Snippets/FavoriteSnippets.cshtml -->
@model IEnumerable<SnippetsLibraryWebApp.Models.SnippetModel>
@{
    ViewData["Title"] = "Обрані сніпети";
}
<h1>Обрані сніпети</h1>

<!-- Вказівка на поточну сторінку для JavaScript -->
<div id="currentPage" data-page="FavoriteSnippets"></div>

@await Html.PartialAsync("_FilterForm")

<!-- Контейнер для сніпетів -->
<div id="snippetsContent">
    @await Html.PartialAsync("_SnippetList", Model)
</div>